[Unit]
Description=Timeclock Database
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartForceExitStatus=1
RestartSec=10
ExecStartPre=-/usr/bin/docker kill timeclock
ExecStartPre=-/usr/bin/docker kill timeclock-data
ExecStartPre=-/usr/bin/docker rm timeclock
ExecStartPre=-/usr/bin/docker rm timeclock-data
ExecStart=/usr/bin/docker run --rm -h timeclock-data.machinemotion.com -v /opt/timeclock/data:/opt/mariadb --name timeclock-data duelafn/mariadb:latest
ExecStop=-/usr/bin/docker stop timeclock
ExecStop=-/usr/bin/docker stop timeclock-data

[Install]
WantedBy=multi-user.target
