[Unit]
Description=Gitolite Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartForceExitStatus=1
RestartSec=10
ExecStartPre=-/usr/bin/docker kill gitolite
ExecStartPre=-/usr/bin/docker rm gitolite
ExecStart=/usr/bin/docker run --rm -h git.machinemotion.com -v /opt/git:/opt/git -p 162.17.32.2:22:22 --name gitolite cmminc/gitolite:latest
ExecStop=-/usr/bin/docker stop gitolite

[Install]
WantedBy=multi-user.target
